*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: relative;
}

#divheader{
    position: relative;
    left: 42%;
    margin-top: 40px;
}

img.logo{
    margin: auto;
}

main{}

div.box{
    border: 1px solid black;
}

div.produtopai{
    position: relative;
}

div#produto1{    
    position: relative;
    left: 14%;
    top: 0%;

}

div#produto2 {
    position: absolute;
    left: 42%;
    top: 0%;
}

div#produto3 {
    position: relative;
    left: 50%;
    top: 0%;
}

div#produto4{
    position: relative;
    left: 14%;
    top: 0%;
}

div#produto5{
    position: relative;
    left: 42%;
    top: 0%;
}

div#produto6{
    position: relative;
    left: 70%;
    top: 0%;
}

div.produto{
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
}